adapter = 
API = 
APIKey = 
logPath = 
mainLogFile = 
errorLogFile = 
logLevel = 

enabledProviders = [
    "<provider1>",              # case is ignored
    "<provider2>"
]

manualComponents = {
    "<provider1>": [            # case is ignored
        "<manual-component>"    # case is ignored
    ]
}